.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
}

.whatsapp-btn {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
